extends layout

block content
  h1= title
  //
    #data
    ul
      li api= #{api}
      li value= #{value}
      li factor= #{factor}
      li comparison= #{comparison}
      li comparisonValue= #{comparisonValue}
      li image= #{imageLink}
      li search= #{search}
      li type= #{type}
      li
        | image=

  #response.standardBorder
    | There are #{value} matches for "#{type} = #{search}" at #{api}.
    | That's about #{factor} times #{comparison}!
  #picture
    - for(i=1;i<=Math.floor(factor);i++)
      img(src=imageLink, alt=comparison)
    - var scailer = (factor % 1)*100

    img(src=imageLink, alt=comparison, style='width:#{scailer}%')
    
    
    
  #footer
    a(href='/query/#{api}')
      span.button.standardBorder#submit Return to Search
