extends layout

block content
  h1= title
  //
    #data
    ul
      li api= #{api}
      li value= #{value}
      li factor= #{factor}
      li comparison= #{comparison}
      li comparisonValue= #{comparisonValue}
      li image= #{imageLink}
      li search= #{search}
      li type= #{type}
      li
        | image=

  - var shortFactor = String(factor).substring(0,4)
  #response.standardBorder
    | There are #{value} matches for "#{type} = #{search}" at #{api}.
    | That's about #{shortFactor} times #{comparison}!
  #picture
    - for(i=1;i<=Math.floor(factor);i++)
      img.resultImage(src=imageLink, alt=comparison)
    - var scailer = Math.sqrt((factor % 1)) * 200
    // - scailer = Math.sqrt(scailer)

    img(src=imageLink, alt=comparison, style='width:#{scailer}px')
    
    
    
  #footer
    a(href='/query/#{api}')
      span.button.standardBorder#submit Return to Search
